html
{ 
    color : #ffffff;
    font-family: "Montserrat";
    background-color : #00a08f;
    
}
#id1{ 
    background-color : #124653;
}
hr{
    background-color:#fc766aff;
    width : 75%;
}
h2{ 
    color: black;
}

button { 
    background-color : #fc766aff;
    font-size : 16px;
    color: #ffffff;
    border-color :#fc766aff ;
    font-family : "Monserrat";
    width : 125px;
    height : 30px;
}

h1{ 
    letter-spacing: 10px;
}
.container{ 
    font-size: 15px;
}
label{ 
    color: black;
}

