body {
    margin: 0;
    background-color: #124653;
    font-family: 'Montserrat', sans-serif;
}

/* body * {
    border: 1px solid black;
} */

h1 {
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 75px;
    letter-spacing: 10px;
}

button {
    background-color: #fc766aff;
    border: 1px solid #fc766aff;
    color: white;
    width: 100px;
    height: 40px;
    margin-left: 92%;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 14px;
}

hr {
    width: 75%;
    border: 1px solid #fc766aff;
}

.searchcontainer {
    width: 430px;
    margin: auto;
    margin-top: 50px;
}

button[class="search"] {
    margin: 0px;
}

input {
    height: 38px;
    width: 300px;
    padding-left: 20px;
    border: 1px solid #124653;
    font-size: 14px;
}

h3 {
    color: white;
    margin-bottom: 10px;
}

.tag {
    margin-top: 10px;
}

.container {
    /* width: 1280px; */
    width: 980px;
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(3, 400px); */
    grid-template-columns: repeat(3, 300px);
    background-color: #124653;
    gap: 40px;
    margin-top: 75px;
}

.container>.event {
    background-color: white;
    height: 333px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.image {
    width: 100%;
    height: 70%;
    background-image: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/irving-redesign/Events_Page_Header_2903ed9c-40c1-4f6c-9a69-70bb8415295b.jpg");
}

.event hr {
    border: 0.2px solid #fc766aff;
}

.event h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.event .date {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}